aiohttp==2.3.7
async==0.6.2
async-timeout==3.0.0
asyncio==3.4.3
balebot==1.2.8
certifi==2018.8.24
chardet==3.0.4
graypy==0.2.14
idna==2.7
multidict==4.4.0
pipenv==2018.7.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
yarl==1.2.6